<h1>Agenda de conciergerie</h1>

<h3>Hier</h3>
<h3>Aujourd'hui</h3>
<h3>Demain</h3>
<h3>J -7</h3>
<h3>J -15</h3>

<h1>Menu de conciergerie</h1>

<h3><%= link_to "Créer une réservation de restaurant", (restaurants_path) %></h3>
<h3><%= link_to "Créer une réservation de transport" %></h3>
<h3><%= link_to "Annuaire des Restaurants", restaurants_path %></h3>
<h3><%= link_to "Annuaire des Hotels"%></h3>
<h3><%= link_to "Annuaire des Conciergerie" %></h3>

<h3>Ouvrir le menu interactif</h3>
